body {
  font-size: 10px;
  background-color: whitesmoke;
  justify-content: center;

}

.page-selector {
  border-radius: .5em;
  background-color: white;
  padding: 10px;
  margin: 10px;
  font-size: 20px;
  text-align: center;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.37);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.37);
  
}
.title {
  padding: 50px 50px 0px 50px;
  text-shadow: 2px 2px 4px gray;
  text-align: center;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 100px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #000000;
  font-weight: normal;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;
  
}
.subtitle {
  padding: 5px 50px 100px 50px;
  text-align: center;
  font-size: 20px;

}


img {
  z-index: -1000;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  height: auto;
}



.menu 
{
  width: 60%;
  justify-content: center;
  margin: auto;
}
footer
{
  padding: 10px;
  text-align: center;
  font-size: 20px;
}

a {
  color: black;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}




@media screen and (max-width: 480px) {
}

@media screen and (max-width: 600px), (max-height: 500px) {
